[Unit]
Description=TGBOT
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tgbot
Restart=on-failure

[Install]
WantedBy=multi-user.target